body{
    background-color: rgb(233, 231, 231);
}
.breadcrumbs{
    padding: 0px;

}
.breadcrumbs__item{
    display: inline-block;
}
.breadcrumbs__item:not(:last-of-type)::after{
    content: ">";
    margin: 0 5px;

}
.breadcrumbs__link--active{
    text-decoration: none;
    color: black;
}

.dash{
    border: 1px solid black;
}
.Step1 
{
    position: fixed;
    width: 55%;
    left: 2%;
    top: 14%;
    height: 90%;



}
input,
.btn {
  width: 25%;
  padding: 4px;
  margin: 3px 0;
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
  text-decoration: none; /* remove underline from anchors */
  border: 1px solid black;

}
.short 
{
    width: 7%;

}

p{
    font-size: 10px;
}
.icon-container
{
    font-size: 24px;
}
label {
    font-size: 14px;
}

.card_details 
{
    border: 1px solid black;
    position: fixed; 
    left: 20%;
    top: 30%;
}
.conditions
{
    position: fixed;
    width: 48%;
    left: 45%;
}


  .btn {
    background-color: #5062b4;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    left: 10% ;
  }

  .booking_container
  {
    position: fixed;
    width: 34% ;
    top: 20% ;
    right: 3% ;
    height: 100%;
  }
  .booking_top
{

    height: 3%;
    border: 3px solid #000000;
    background-color: rgb(134, 165, 206);
}

 .hotel_details
{
    height: 45%;
    border: 3px solid #000000;
    background-color: white;
}

.hotel_option1
{
    height: 3%;
    border: 3px solid #000000;
    background-color: white;

}
.hotel_option2
{
    height: 3%;
    border: 3px solid #000000;
    background-color: white;

}
.hotel_option3
{
    height: 3%;
    border: 3px solid #000000;
    background-color: white;

}

.booking_query
{
    height: 10%;
    border: 3px solid #000000;
    border-radius : 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.back_btn
{
    border: 3px solid #000000;
    height: 80% ;
    background-color: white;
}
.hotel_image 
{
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto


}
p.para
{
    width: 80%;
    margin-left: 1%;
    font-size: 11px;


}




