/* CCS STYLE SHEET deisgned by Group 2 Khareas-Kesa and Kingsley*/
header, footer, homepicture, search_box, div {
    padding: 20px;
}
#pageHeader {
    grid-area: header;
    background-color: rgb(131, 131, 131);
}
#mainhomepicture { 
    grid-area: homepicture;
    background-image: url("images/homepagereception.jpg");
    background-repeat: no-repeat;
}
#mainsearch_box { 
    grid-area: search_box; 
    background-color: #dddddd;
}
.titleheader {
    display: flex;
    justify-content: center; 
    align-items: center;
}
.search_for_location {
    position: relative;
    background: #ffffff;
    border: 1px solid #999999;
    border-radius: 5px;
    min-height: 60px;
    margin: 6px 2px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 36px;
    background-color: white;
    padding: 12px 20px 12px 40px;
}
.search_button {
    background-color: rgb(131, 131, 131);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.image-container {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 1px;
}
.grid-item1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-image: url("images/london-stock-image.jpg");
    font-size: 30px;
    text-align: center;
}
.grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-image: url("images/edinburgh-scotland-glance.jpg");
    font-size: 30px;
    text-align: center;
}
.grid-item3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-image: url("images/dublin-skyline.jpg");
    font-size: 30px;
    text-align: center;
}
.grid-item4 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-image: url("images/manchester-stock-image.jpg");
    font-size: 30px;
    text-align: center;
}