#pageHomepicture{
    grid-area: homepicture;
    background-image: url("images/homepagereception.jpg");
}
#mainSearch_box {
    grid-area: search_box;
}

#mainExtra_info {
    grid-area: extra_info;
}
