body {
    background-color: rgb(233, 231, 231);
}

.breadcrumbs {
    padding: 0px;

}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after {
    content: ">";
    margin: 0 5px;

}

.breadcrumbs__link--active {
    text-decoration: none;
    color: black;
}

.sidenav {
    height: 75%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 5;
    left: 10;
    overflow-x: hidden;
    padding-top: 10px;
    border: 2px solid black;
}

.sidenav a {
    padding: 5px 5px 3px 12px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #020202;
    display: block;
}

#logo{
position:absolute;
top:40px ;
left:10;
}
div.hotel-name1 {
position : fixed ;
width: 500px;
height: 30px;
border: 3px solid #000000;
background-color: rgb(134, 165, 206);
}

div.hotel-view1 {
position : fixed ;
top: 33px;
width: 500px;
height: 300px;
border: 3px solid #000000;
}

.all-view {
position: fixed;
width: 40% ;
top: 20% ;
left: 50% ;
transform: translate(-50%, -50%);
}

div.hotel-name2 {
position : fixed ;
top: 336px;
width: 500px;
height: 30px;
border: 3px solid #000000;
}

.hotel-image 
{
position: fixed;
width: 50%;
right: -66px ;
border-radius: 8px;
top : 100px ;

}
div.hotel-name3 {
position : fixed ;
top: 369px;
width: 500px;
height: 30px;
border: 3px solid #000000;
}
div.hotel-name4 {
position : fixed ;
top: 402px;
width: 500px;
height: 30px;
border: 3px solid #000000;
}

div.hotel-name5 {
position : fixed ;
top: 435px;
width: 500px;
height: 30px;
border: 3px solid #000000;
}

.hotel-text
{
width: 60%;
position : fixed ;
left : 10px;
}

